---
layout: default
title: Home
---

<div class="catalogue">

  {% for post in paginator.posts %}
    {% capture showAdFeed %}{% cycle 'odd', 'even' %}{% endcapture %}
    <a href="{{ post.url | prepend: site.url }}" class="catalogue-item">
      <div>
        <time datetime="{{ post.date }}" class="catalogue-time">{{ post.date | date: "%B %d, %Y" }}</time>
        <h1 class="catalogue-title">{{ post.title }}</h1>
        <div class="catalogue-line"></div>

        <p>
          {{ post.content | truncatewords: 70 | strip_html }}
        </p>

      </div>
    </a>
    {% if showAdFeed == 'odd' %}
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-format="fluid"
           data-ad-layout-key="-ej+6h-1b-cm+rz"
           data-ad-client="ca-pub-6516758593918018"
           data-ad-slot="4245721878"></ins>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    {% endif  %}
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.url }}" class="left arrow">&#8592; PREVIOUS</a>
  {% endif %}
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.url }}" class="right arrow">&#8594; NEXT</a>
  {% endif %}

  <span>PAGE {{ paginator.page }}</span>
</div>
